
body{
    display: flex;
    height: 450px;
    justify-content: center;
    background-image: url(img/fondo.jpg)
}

form{

    background: #ffffff;
    margin: auto;
    border-radius: 10px;
}

h1{
    text-align: center;
    font-weight: 700;
    padding: 20px;
}


.Contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Nombre, .Descripcion, .Precio{

    margin: auto;
    padding: 20px;

}

form .grupo{
    display: flex;
    position: relative;
    align-items: center;
    margin: 20px;
    justify-content: space-around;
}