
body{
    display: flex;
    height: 450px;
    justify-content: center;
    background-image: url(img/fondo.jpg)
}

form{

    background: #ffffff;
    margin: auto;
    border-radius: 10px;
}

form .grupo{

    position: relative;
    margin: 20px;
}


h1{

    text-align: center;
    font-weight: 700;

}

#Guardar{
    justify-content: center;
    position: relative;
    
}